h1, h2, h3, h4, h5, h6, p {
  color: #FBF2EE;
  margin: 0;
}

h3, h4 {
  text-decoration: underline;
  padding: 16px;
}

p {
  margin: 0;
  line-height: 2;
}

ul {
  padding: 0px;
  margin: 0;
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}

li {
  list-style-type: none;
  line-height: .7;
}

.body {
  text-align: center;
  margin: 64px;
}

.form {
  /* margin-bottom: 24px; */
  background-color: #182125;
  border: solid 4px #202C31;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  position: sticky;
  bottom: 0px;
  flex-direction: column;
  width: 600px;
  align-items: center;
  margin-left: 24%;
}

.inputs{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  border-radius: 5px;
  border: solid 1px #FBF2EE;
  background-color: #182125;
  color: #FBF2EE;
  padding: 6px;
  margin: 8px;
}

/* .birthday {
  margin-bottom: 24px;
} */

.submit {
  border-radius: 5px;
  border: solid 1px #FBF2EE;
  background-color: #202C31;
  color: #FBF2EE;
  padding: 6px;
  margin-left: 54px;
}

.card {
  background-color: #182125;
  border-radius: 5px;
  margin-bottom: 32px;
  padding: 24px;
  box-shadow: 4px 4px #202C31;
  width: 800px;
  margin-left: 13%;
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #182125;
  box-shadow: 4px 4px #202C31;
  margin-bottom: 24px;
  padding: 8px;
}

.form-title {
  margin: 8px;
}

.all-birthdays-title {
  margin-top: 16px;
}

/* .allbirthdays {
  background-color: #202C31;
  border-radius: 5px;
  padding: 8px;
  width: 200px;
  margin: 8px;
  align-items: center;
} */
